<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>University</title>
</head>
<body>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" th:each="timetable: ${timetables}">
        <div class="card border-success mb-3" style="max-width: 18rem; margin-top: 50px; margin-left: 50px">
            <div class="card">
                <h5 class="card-header" th:text="'Timetable #' + ${timetable.id}">Timetable number</h5>
                <div class="card-body text-success">
                    <div th:switch="${timetable.day}">
                        <p class="card-text" th:case="1" th:text="Monday">Day</p>
                        <p class="card-text" th:case="2" th:text="Tuesday">Day</p>
                        <p class="card-text" th:case="3" th:text="Wednesday">Day</p>
                        <p class="card-text" th:case="4" th:text="Thursday">Day</p>
                        <p class="card-text" th:case="5" th:text="Friday">Day</p>
                    </div>
                    <p class="card-text" th:text="${timetable.time}">Time</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
